initialize() {
	initializeTreeSeq();
	initializeMutationRate(1e-7 * 0.1);
	initializeMutationType("m2", 0.5, "g", -0.01, 1.0);
	initializeGenomicElementType("g2", m2, 1.0);
	initializeGenomicElement(g2, 4e7, 6e7-1);
	initializeRecombinationRate(1e-8, 1e8-1);
}
1 {
	sim.addSubpop("p1", 500);
}
5000 late() {
	sim.treeSeqOutput("./ex3_TS.trees");
}
